/* Fuente futurista opcional */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {
  --azul-bitel: #e9fa00;
  --amarillo-bitel: #2b87ac;
  --gris-oscuro: #000000;
  --blanco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(to bottom right, var(--azul-bitel), #000);
  color: var(--blanco);
  padding: 20px;
}

header {
  text-align: center;
  padding: 40px 0;
  background-color: var(--azul-bitel);
  border-bottom: 4px solid var(--amarillo-bitel);
  box-shadow: 0 4px 10px rgb(68, 212, 32);
}

header h1 {
  font-size: 2.5em;
  color: var(--amarillo-bitel);
}

header p {
  font-size: 1.8em;
  margin-top: 10px;
  color: var(--amarillo-bitel);
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  flex: 1;
}

.producto {
  background-color: rgb(249, 253, 9);
  border: 2px solid var(--amarillo-bitel);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--amarillo-bitel);
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto h2 {
  color: var(--amarillo-bitel);
  margin: 10px 0;
  font-size: 1.4em;
}

.producto p {
  font-size: 1.0em;
  margin-bottom: 10px;
  color: #050505;
}

.precio {
  display: inline-block;
  background: var(--amarillo-bitel);
  color: var(--azul-bitel);
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 8px;
  font-size: 1em;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 0.9em;
  color: #ccc;
  border-top: 1px solid #444;
  padding-top: 20px;
}
